# Umbraco
src/uLocalGov6/App_Browsers/
src/uLocalGov6/App_Code/
src/uLocalGov6/App_Data/
src/uLocalGov6/aspnet_client/
src/uLocalGov6/media/created-packages/
src/uLocalGov6/media/*/Cached/
src/uLocalGov6/Umbraco/*.*
src/uLocalGov6/Umbraco/*/*
src/uLocalGov6/data/
src/uLocalGov6/install/
src/uLocalGov6/umbraco_client/
src/uLocalGov6/config/*
src/uLocalGov6/bin/*
src/uLocalGov6/default.aspx

# put some back in
!src/uLocalGov6/config/umbracoSettings.config
!src/uLocalGov6/bin/uLocalgov*
!src/uLocalGov6/Umbraco/images/umbraco/

# Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
uLocalGov6/*/[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
BuildProcessTemplates/*
Published/*
[Tt]humbs.db
[Uu]pgradeLog*.[Xx][Mm][Ll]
_[Uu]pgradeReport_Files*/
*.build.csdef
[Pp]ackage/*
ASPNETDB.MDF
aspnetdb_log.ldf
