<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Template>
  <Name>ulg.design</Name>
  <Alias>ulgdesign</Alias>
  <Master>ulgroot</Master>
  <Design><![CDATA[<%@ Master Language="C#" MasterPageFile="~/masterpages/ulgroot.master" AutoEventWireup="true" %>

<asp:content ContentPlaceHolderId="styles" runat="server">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/layout.css" >
	<link rel="stylesheet" href="/css/<umbraco:Item field="sectionStyle" recursive="true" runat="server" />" >
</asp:content>

<asp:content ContentPlaceHolderId="metadata" runat="server">
	<!-- eGov Meta Data : Mandatory -->
	<!-- this will make your html5 page invalid! -->
    <meta name="DC.Subject" content="<umbraco:Item field='metaSubject' runat='server' />">
    <meta name="DC.Date" content="<umbraco:Item field='updateDate' formatAsDate='true' runat='server' />" >
    <meta name="DC.Creator" content="<umbraco:Item field='metaCreator' recursive='true' runat='server'/>" >
    <meta name="DC.Publisher" content="<umbraco:Item field='metaPublisher' recursive='true' runat='server'/>" >
    <meta name="DC.Title" content="<umbraco:Item field='pageTitle' runat='server'/>" >
    <!-- end eGov -->
	
	<asp:ContentPlaceHolder id="metadata" runat="server" />
	
	<meta name="robots" content="<umbraco:Item field="metaRobots" recursive="true" runat="server" />">
</asp:content>

<asp:content ContentPlaceHolderId="content" runat="server">
	<div class="container">
		<div class="row">
			<div class="span6">
				<h1><a href="/"><umbraco:Item field="siteName" recursive="true" runat="server" /></a></h1>
			</div>				
		</div>
		<div class="row">
			<div class="span12">
				<umbraco:Macro Alias="ulg.sitesections" runat="server"></umbraco:Macro>
			</div>
		</div>
	</div>
		
	<div class="container">
		<div class="row">
			<div class="span12">
				<asp:ContentPlaceHolder id="breadcrumb" runat="server">
					<umbraco:Macro Alias="ulg.breadcrumb" runat="server" />
				</asp:ContentPlaceHolder>
			</div>
		</div>
	</div>
	
	<div class="container">
		<asp:ContentPlaceHolder id="content" runat="server" />
	</div>
	
	<div class="container">
		<asp:ContentPlaceHolder id="footer" runat="server" />
	</div>
	
</asp:content>

<asp:content ContentPlaceHolderId="scripts" runat="server">
	<asp:ContentPlaceHolder id="scripts" runat="server" />
</asp:content>]]></Design>
</Template>